<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <services>
      <service name="calculator_service.CalculatorService" behaviorConfiguration="CalculatorServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://a5comp13:1337/calculator"/>
          </baseAddresses>
        </host>

        <endpoint address="http://a5comp13:1337/BasicHttpBindingCalculator.svc"
                  binding="basicHttpBinding"
                  contract="calculator_service.ICalculatorService"
                  name="basicHttpBinding_CalculatorService">
        </endpoint>

        <endpoint address="http://a5comp13:1337/wsHttpBindingCalculator.svc"
                  binding="wsHttpBinding"
                  contract="calculator_service.ICalculatorService"
                  name="wsHttpBinding_CalculatorService">
        </endpoint>
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="CalculatorServiceBehavior">
          <serviceMetadata httpGetEnabled="True" />
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>