<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IBiletikiService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://a5comp13:8080/biletiki/v1" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IBiletikiService" contract="Service.IBiletikiService"
                name="BasicHttpBinding_IBiletikiService" />
        </client>
    </system.serviceModel>
</configuration>