<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="basicHttpBinding_CalculatorService" />
                <binding name="basicHttpBinding_CalculatorService1" />
                <binding name="basicHttpBinding_CalculatorServiceV2" />
            </basicHttpBinding>
            <netNamedPipeBinding>
                <binding name="netNamedPipeBinding_CalculatorService" />
                <binding name="netNamedPipeBinding_CalculatorService1" />
            </netNamedPipeBinding>
            <netTcpBinding>
                <binding name="netTcpBinding_CalculatorService" />
                <binding name="netTcpBinding_CalculatorService1" />
            </netTcpBinding>
            <wsHttpBinding>
                <binding name="wsHttpBinding_CalculatorService" />
                <binding name="wsHttpBinding_CalculatorService1" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://a5comp13:1337/BasicHttpBindingCalculator.svc"
                binding="basicHttpBinding" bindingConfiguration="basicHttpBinding_CalculatorService"
                contract="CalculatorServiceV1.ICalculatorService" name="basicHttpBinding_CalculatorService" />
            <endpoint address="http://a5comp13:1337/wsHttpBindingCalculator.svc"
                binding="wsHttpBinding" bindingConfiguration="wsHttpBinding_CalculatorService"
                contract="CalculatorServiceV1.ICalculatorService" name="wsHttpBinding_CalculatorService">
                <identity>
                    <userPrincipalName value="manekovskiy@step.itstep.rv.ua" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://a5comp13:14564/netTcpBindingCalculator.svc"
                binding="netTcpBinding" bindingConfiguration="netTcpBinding_CalculatorService"
                contract="CalculatorServiceV1.ICalculatorService" name="netTcpBinding_CalculatorService">
                <identity>
                    <userPrincipalName value="manekovskiy@step.itstep.rv.ua" />
                </identity>
            </endpoint>
            <endpoint address="net.pipe://localhost/netNamedPipeBindingCalculator.svc"
                binding="netNamedPipeBinding" bindingConfiguration="netNamedPipeBinding_CalculatorService"
                contract="CalculatorServiceV1.ICalculatorService" name="netNamedPipeBinding_CalculatorService">
                <identity>
                    <userPrincipalName value="manekovskiy@step.itstep.rv.ua" />
                </identity>
            </endpoint>
            <endpoint address="http://a5comp13:1337/BasicHttpBindingCalculator.svc"
                binding="basicHttpBinding" bindingConfiguration="basicHttpBinding_CalculatorService1"
                contract="CalculatorServiceV2.ICalculatorService" name="basicHttpBinding_CalculatorService1" />
            <endpoint address="http://a5comp13:1337/wsHttpBindingCalculator.svc"
                binding="wsHttpBinding" bindingConfiguration="wsHttpBinding_CalculatorService1"
                contract="CalculatorServiceV2.ICalculatorService" name="wsHttpBinding_CalculatorService1">
                <identity>
                    <userPrincipalName value="manekovskiy@step.itstep.rv.ua" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://a5comp13:14564/netTcpBindingCalculator.svc"
                binding="netTcpBinding" bindingConfiguration="netTcpBinding_CalculatorService1"
                contract="CalculatorServiceV2.ICalculatorService" name="netTcpBinding_CalculatorService1">
                <identity>
                    <userPrincipalName value="manekovskiy@step.itstep.rv.ua" />
                </identity>
            </endpoint>
            <endpoint address="net.pipe://localhost/netNamedPipeBindingCalculator.svc"
                binding="netNamedPipeBinding" bindingConfiguration="netNamedPipeBinding_CalculatorService1"
                contract="CalculatorServiceV2.ICalculatorService" name="netNamedPipeBinding_CalculatorService1">
                <identity>
                    <userPrincipalName value="manekovskiy@step.itstep.rv.ua" />
                </identity>
            </endpoint>
            <endpoint address="http://a5comp13/BasicHttpBindingCalculator.svc/V2"
                binding="basicHttpBinding" bindingConfiguration="basicHttpBinding_CalculatorServiceV2"
                contract="CalculatorServiceV2.ICalculatorService2" name="basicHttpBinding_CalculatorServiceV2" />
        </client>
    </system.serviceModel>
</configuration>